/*
  We COULD place vendor imports in the angular.json styles array, but that would prevent us from placing them within the appropriate layer
  within our ITCSS setup. Plus, we might want to tweak the resets in our own ways, and it's best for understanding the stylesheet as a whole
  to have that reset-like styles together in one place.
*/
@use '~normalize-scss/sass/normalize';
@use '../1-settings/colors.settings' as colors;
@use '../1-settings/text.settings' as text;

@include normalize.normalize();

body {
  background-color: colors.$body-bg;
  color: colors.$font-light;
  font-size: text.$font-size-normal;
}
