<header class="global-header">
  <a
    href="https://splice.com/"
    target="_blank"
    title="Splice - Royalty-Free Sounds & Rent-to-Own Plugins"
  >
    <!-- Borrowing Splice's logo from the CDN -->
    <img
      src="https://splice-res.cloudinary.com/image/upload/f_auto,q_auto,w_99,dpr_1.0/app-assets/general/Logo-Lock-Up-Light_3x.png"
      alt="The splice logo"
      role="presentation"
      class="global-header__logo mr-20"
    />
  </a>
  <h1 class="global-header__title h3">The Drum Machine</h1>
</header>
<!-- <ds-tracks-editor></ds-tracks-editor> -->
