.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-1-0-auto {
  flex: 1 0 auto;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
