<!-- Controls -->
<form [formGroup]="fg" class="playback-controls mb-30">
  <!-- Play/Pause -->
  <button
    (click)="togglePlayback()"
    [class.is-active]="isPlaying"
    aria-label="Play/Pause"
    class="icon-button mr-10"
  >
    <span *ngIf="isPlaying; else playIcon" class="icon-pause"></span>
    <ng-template #playIcon>
      <span class="icon-play"></span>
    </ng-template>
  </button>
  <!-- Stop -->
  <button
    (click)="togglePlayback(false)"
    [disabled]="!isPlaying"
    aria-label="Stop"
    class="icon-button mr-20"
  >
    <span class="icon-stop"></span>
  </button>
  <!-- BPM -->
  <div class="form-group form-group--inline mr-20">
    <label
      for="bpm-control"
      class="form-group__label flex-1-0-auto fixed-label"
    >
      {{ fg.value.bpm }} BPM:
    </label>
    <!-- TODO: Style a custom range slider for cross-browser design consistency -->
    <input
      class="form-control"
      formControlName="bpm"
      id="bpm-control"
      max="300"
      min="0"
      name="bpm-control"
      type="range"
    />
  </div>
  <!-- Sequence -->
  <div class="form-group form-group--inline">
    <label for="sequence-select" class="form-group__label">Preset:</label>
    <select
      [compareWith]="compareSequenceByName"
      class="form-select"
      formControlName="sequence"
      id="sequence-select"
    >
      <option [ngValue]="option" *ngFor="let option of sequences">
        {{ option.name }}
      </option>
    </select>
  </div>
</form>
<!-- Step Header -->

<!-- Instrument Tracks -->
<table class="instrument-table">
  <thead>
    <tr>
      <th scope="col">Instrument</th>
      <th *ngFor="let num of beats" scope="col">{{ num }}</th>
    </tr>
  </thead>
  <tbody [class.is-playing]="isPlaying">
    <!-- TODO: Separate into a new component with a directive selector to prevent a wrapper element inside the table. -->
    <tr *ngFor="let instr of instruments">
      <th scope="row" class="text-center pr-10">
        {{ instr | camelSplit | titlecase }}
      </th>
      <td
        *ngFor="
          let beat of (sequence?.instruments)[instr].beats;
          let index = index
        "
        [class.beat-playing]="(stepIndex$ | async) === index"
      >
        <button
          (click)="toggleBeat(instr, index)"
          [class.has-beat]="beat"
          aria-label="toggle beat"
          class="beat-toggle active"
          role="switch"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
