@use '../1-settings/colors.settings' as colors;

.icon-button {
  background-color: transparent;
  border: none;
  color: colors.$white;
  font-size: 2rem;
  height: 2rem;
  padding: 0;
  width: 2rem;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:disabled {
    opacity: 0.5;
  }
}
